<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FLPictureBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3CB67C61D536C0A005683C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3CB67DF1D536C0A005683C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3CB67EA1D536C0A005683C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
